button{
    cursor: pointer;
    }
/* UNIVERSAL */
* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* NAVIGATION BAR CSS */
#frontpageIMG{
    width: 80%;
    height: 300px;
}
#frontPageBackground{
    background-color: rgb(118, 134, 225);
} 


.navBar {
    
    display: flex;
    grid-template-rows: auto;
    background: rgb(255, 128, 0);
    height: auto;
    border-bottom: 1px solid black;
    box-shadow: 0px 0px 10px rgb(87, 87, 87);


    /* box-shadow: black 0px 0px 10px; */
}
.logOutBtn {
    margin:auto;    
}

.navBarItem {
    text-transform: uppercase;
    user-select: none;
    text-align: center;
    margin-right:25px;
    margin:auto;
    padding: 5px;
    
    border-radius: 5px;
    box-shadow: 1px 1px 2px;
    border:1px solid black;
}
.navBarItem:hover {
    box-shadow: 0px 4px 4px rgb(87, 87, 87);
    cursor: pointer;
    background: rgba(255, 255, 255, 0.807);
    color:rgb(255, 128, 0);

}
.navBarItem:active {
    background: #919191;
    color: white;
}
.navBarLogo {
    text-transform: uppercase;
    user-select: none;
    font-size: xx-large;
    text-align: center;
    margin-right:25px;
    margin:auto;
    padding: 5px;
    
    border-radius: 5px;
    box-shadow: none;
}
.navBarLogo:hover {
    cursor: pointer;
    color:white;

}
.navBarLogo:active {
    color: white;
}

.navBarUser {
    margin: 1px 7px 7px 7px;
    padding: 5px;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 16px;
}
.navBarUserClassIDUser {
    font-size: 14px;
    font-weight: 800;
    font-style: italic;   
    text-transform: uppercase;
    text-align: center;

    position: relative;
    top:-20px;
    margin-top: 0px;
    color: rgb(157, 215, 222);
    padding: 0px;
    padding-bottom: 2px;
    height: 1px;
    text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;}
.navBarUserClassIDAdmin {
    font-size: 14px;
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;

    position: relative;
    top:-20px;
    margin-top: 0px;
    color: rgb(255, 164, 53);
    padding: 0px;
    padding-bottom: 2px;
    height: 1px;
    text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
}

/*! LOGIN PAGE CSS */
.loginPageHeader {
    display: flex;
    width: auto;
    justify-content: center;

    font-family: 'Monofett', cursive;
    font-size: 40px;
    background: rgb(255, 128, 0);
    color: black;
}
.loginPageUndertittel{
    display:flex;
    padding-top:20px;
    padding-bottom:40px;
    justify-content: center; 
    font-weight: bolder;
}

#loginPageView{
    justify-content: center;

    width: auto;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    min-width: 310px;

    padding-bottom:25px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
}
.navBarLogo{
    font-family: 'Monofett', cursive;
}
.loginPageBtns, .loginPageInputs {
    text-align: center;
    margin:auto;
    border-radius: 13px;
}
.loginPageInputs {
    box-shadow: 0px 4px 4px rgb(87, 87, 87);
    border:1px solid black;
}
.loginPageInputs:focus {
    box-shadow: 0px 4px 4px rgb(255, 128, 0);
}
.loginPageBtns {
    box-shadow: 0px 4px 4px rgb(87, 87, 87);
    border:1px solid black;
}
.loginPageBtns:hover {
    background: rgb(255, 128, 0);
    box-shadow: 0px 4px 4px rgb(255, 128, 0);
    color: white;
}
    /*?------------------------------*/
    
    
    
    /*!-- Topic Page --*/
   

    #container {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        margin-left: 50px;
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .BytttemaknapperContainer{
        background-color: #ffffff;
        width: 500px;
        display: flex;
        justify-content: space-between; /* Avstand mellom knapper  */
    }

    .Bytttemaknapper{
        
        background-color: rgba(255, 128, 0);
        border-radius: 5px;
        margin-top: 15px; 
        color: #000000;
        font-family: cursive;
       width: 200px;
    }

    .colums{
        display: flex;
        flex-direction: column;
       
        max-width: 500px;
        border: 1px solid rgb(199, 192, 192);
    }
    #Temaoverskriftnavn{
       font-family: cursive;
       font-size: x-large;
       margin-top: 15px;
       text-align: left;
    }

    #videoplayer{

        align-self: center;
    }
    .Oppgaveoverskrift{
        font-family: cursive;
       font-size: large;
    }

    .Oppgavetekst{
        background-color: rgb(211, 211, 211);
    }

    #colum0{
        background-color: rgba(211, 211, 211);
        margin-top: 5px; /* Avstand mellom boxer  */
        border-radius:7px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 10px;
    } 

    #colum1 {
        background-color: rgb(211, 211, 211);
        margin-top: 5px; /* Avstand mellom boxer  */
        border-radius: 7px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 10px;
        padding-top: 5px;
    } 


    #colum2 {
        background-color: rgb(211, 211, 211);
        margin-top: 5px; /* Avstand mellom boxer  */
        border-radius: 7px;
        padding-left: 5px;
        padding-right: 5px;
        display: flex;
        
        
    } 


    #colum3 {
        background-color: rgb(211, 211, 211);
        margin-top: 5px; /* Avstand mellom boxer  */
        border-radius: 7px;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 50px;
        padding-bottom: 10px;
    } 
    

    
    
/*?------------------------------*/
    /*!-- Log Page --*/
.LoggPage-container{
    width: auto;
   
}

#LoggOverskrift{
    width: auto;
    margin: 20px;
}
#Ukerogdager-container{
   border-radius: 50px;
   margin-left: 20px;
   max-width: 550px;
    padding-left: 5px;
}
#ukervalg-container{
   width: auto;
   margin-top: 20px;
}

#dagervalg-container{
    width: auto;
    

       
}

#textfield-logPage{
    width: 500px;
    margin-left: 25px;
    margin-top: 20px;
    max-width: 500px;
    
}

#textfield-logPage-textarea{
    width: 500px;
    margin-bottom: 0px;
    max-width: 500px;
    
    

  }

  .stjerneknapper{
    width: auto;
    margin-left: 20px;
    max-width: 500px;
    margin-top: 10px;
    
  }


  #sendloggcontainer{
    padding-top: 20px;
    width:200px;
  }
  #sendloggknapp{
    margin-left: 20px
  }

  

    /*?------------------------------*/
        /*!-- Log Admin Page --*/
        .Loggsvartekst{
            display: flex;
            flex-direction: column;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 5px;
            background-color: rgb(255, 255, 255);
            border: 2px solid rgb(0, 0, 0);
            width:  300px;
            height: 200px;
            margin-left: 20px;
            margin-top: 20px;
            border-radius: 10px;
            box-shadow: 5px 7px 5px gray;
        }

/*TODO */
        #VivilviseElevLista:nth-child(even){
            background-color: #f5c79d;
            color: rgb(0, 0, 0);
            border: 2px solid black;
            margin: 10px;
            border-radius: 10px;
            height: 500px;
        }
        #elevListeRamme{
            border: 2px solid black;
            display: flex;
            background-color: rgb(255, 255, 255);
            width: 200px;
            margin-left: 20px;
            margin-top: 10px;
            padding-bottom: 5px;
            padding-top: 5px;
            box-shadow: 5px 7px 5px gray;
            border-radius: 10px;
        }    




    /*?------------------------------*/
        /*!-- Profile Page --*/

        #ProfilePageContainer{
            display: flex;
            flex-direction: column;
            padding-left: 20px;
            padding-top: 20px;
            background-color: rgb(223, 223, 223);
            border: 2px solid grey;
            width:  500px;
            
            height: 500px;
            margin-left: 20px;
            margin-top: 20px;
            
        }
        .ProfilepageContainAll{
            padding: 7%;
            max-width: 500px;
            border: 2px solid rgb(90, 90, 90);
            border-radius: 100px;
            margin: 7%;
            background-image: linear-gradient(to bottom, rgba(255, 136, 0, 0.145), rgb(218, 124, 0));
            box-shadow: 0px 0px 20px;
        }
        #ProfilePic{
        width: auto;
        }
        #img1{
            box-shadow: 5px 2px 1px;
            border: 2px solid rgb(90, 90, 90);
            width: 300px;
            image-rendering: optimizeQuality;
            border-radius: 10%;
        }
        #ProfileName{
            font-size: large;
            font-family: cursive;
        }
        .ProfilePage-ProgressBars{
            display: flex;
            flex-direction: column;
            
           
        }
        progress {
            height: 20px;
            width: 200px;
            background: rgb(255, 128, 0);
            border: solid 0.1mm rgba(0, 0, 0, 0.807);
            border-radius: 9cm;
          }
          
          progress {
            color: lightblue;
          }
          
          progress::-moz-progress-bar {
            background: lightblue;
          }
          
          progress::-webkit-progress-value {
            background: rgb(255, 128, 0);
            border-radius: 3mm;
          }
          
          progress::-webkit-progress-bar {
            background: white;
            border-radius: 3mm;
          }

        
    /*?------------------------------*/
    /*!-- Elevliste Page --*/ 
    #Brukervalgelev{
        display: flex;
        background-color: gainsboro;
        width: 500px;
        margin-left: 50px;
        margin-top: 10px;
        padding-bottom: 5px;
        padding-top: 5px;
        box-shadow: 5px 7px 5px gray;
    }


     /*?------------------------------*/
     /*!-- New User Page --*/
     .newUserPageBox{
        display: flex;
        flex-direction: column;
        max-width: 500px;
        margin-left: 50px;
        margin-top: 20px;
        margin-bottom: 50px;
     } 

     .submitknappnewuser{
        border-radius: 20px;
     }


     /*?------------------------------*/
     /*!-- Chat Page --*/
     .chatMellomDegOgMeg{
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        border: 2px solid black;
        margin: 10px;
        border-radius: 10px;
        margin-top: 500px;
        width: 540px;
        padding: 5px;
        
     }
     .chatPageContainer{
        background-color: #ffffff;

     }
     .chatterFra{
        background-color:#faa153;
        height: 30px;
        padding-left: 10px;
        
     }
     .ulestFra{
        background-color:#fdd8b7;
        margin-top: 30px;
        width: 540px;
        border-radius: 10px;
     }
     .oninputFelt{
        border-radius: 10px;
        background-color: #ffdec1;
        margin-left: 150px;

     }
     .buttonSend{
        border-radius: 10px;
        background-color: #faa153;
     }
